<form action="/login" method="post">
  <div class="">
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" value="">
  </div>

  <div class="">
    <label for="password">Contraseña</label>
    <input type="password" name="password" value="">
  </div>

<a href="/auth/slack">Login With Slack</a>

  {{#if message}}
    <div class="error-message">
      {{message}}
    </div>
  {{/if}}
  
  <div class="">
    <input type="submit" value="Ingresa">
  </div>

</form>
